

{% layout none %}

{% comment %} {% layout 'barebones' %} {% endcomment %}

 {{ content_for_header }}
  <title>Misery & Mayehm</title>

  <script>
    window.addEventListener('load', function() {
      if (window.location.search.includes('form_type=customer')) {
        const url = window.location.href.split('?')[0];
        window.history.replaceState(null, null, url);
      }
    });
  </script>


<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

        {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

       {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}



<style>

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-Light.ttf" | asset_url }}') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-Regular.woff2" | asset_url }}') format("woff2"),
    url('{{ "Fustat-Regular.woff" | asset_url }}') format("woff"),
    url('{{ "Fustat-VariableFont_wght.ttf" | asset_url }}') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-SemiBold.ttf" | asset_url }}') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-Bold.ttf" | asset_url }}') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fustat";
  src: url('{{ "Fustat-ExtraBold.ttf" | asset_url }}') format("truetype");
  font-weight: 800;
  font-style: normal;
}


  body {
    margin: 0;
    padding: 0;
    font-family: 'Fustat',Arial, Helvetica, sans-serif;
    /* font-family: 'Fustat'; */
    font-weight: 400;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 26px;
    background-color:  #FCF7EA;
  }
</style>

<div class="splash-page">

{% if shop.password_enabled %}
  <div style="text-align: center; margin-top: 20px;">
    <form method="post" action="/password">
      <input type="password" name="password" placeholder="Enter Password" style="padding: 8px; margin-right: 10px;">
      <button type="submit" style="padding: 8px 16px;">Enter</button>
    </form>
  </div>
{% endif %}
  
  {% section 'splash-hero' %}
  {% section 'splash-mission' %}
  {% section 'splash-email' %}
  {% section 'splash-launch' %}
  {% section 'splash-social' %}
  {% section 'splash-footer' %}
  {% section 'splash-password' %}

  
</div>

{{content_for_header}}
{{content_for_layout}}

